body {
    background-image: url("{{ asset('img/unpam.png') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(59, 130, 246, 0.7);
    z-index: 1;
}

.login-container {
    position: relative;
    z-index: 2;
}